.form {
    display: flex;
    border-top: 2px solid #8a1a9c;
}

.input {
    border: none;
    border-radius: 0;
    padding: 3%;
    width: 80%;
    font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.sendButton {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #8a1a9c;
    padding: 0;
    display: inline-block;
    border: none;
    width: 20%;
    transition: filter 0.25s linear;
    margin-right: 5px;
}
.sendButton:hover {
    filter: brightness(90%);
}
